VMAP CONFIG FILE
#project-name=VMAPTest
#python3-path=/cm/shared/apps/python3.4/bin/python3

SLURM JOB MANAGER CONFIG OPTIONS
#slurm-account=dklab-research
#slurm-share=yes
#slurm-partition=normal
#slurm-max-num-threads=16

PRINSEQ CONFIG OPTIONS
#prinseq-min_qual_score=21
#prinseq-lc_method=dust
#prinseq-lc_threshold=7

BLAST CONFIG OPTIONS
#blastn-db-path=/hyperion/work/patrick/PipelineDev/tools/BLAST/ncbi-blast-2.2.30+/db/viral.1.1.genomic.fna
#blastn-dust=no
#blastn-reward=1
#blastn-penalty=-3
#blastn-word_size=12
#blastn-gapopen=5
#blastn-gapextend=2
#blastn-evalue=0.0001
#blastn-culling_limit=2
#blastn-perc_identity=90
#blastn-min-alignment-length=45

EMAL CONFIG OPTIONS
#emal-gi-taxid-nucldmp-path=/hyperion/work/patrick/quakeDataProcessing/EMAL/gi_taxid_nucl.dmp
#emal-acceptance-value=0.0001

OUTPUT OPTIONS
- Options for this parameter are: SuperKingdom,Q1,Order,Family,SubFamily,Genus
#extraTableSummedOver=Family